@using ASP.net_Aplication.Models.Image;
@using ASP.net_Aplication.Models.Identity;

@model IEnumerable<ShowModelImage>

@{
    ViewData["Title"] = "View";
    Int32 count = (Int32)ViewData["count"];
    Int32 actual = (Int32)ViewData["actual"];

    Int32 actual1 = actual - 2;
    Int32 actual2 = actual - 1;
    Int32 actual3 = actual + 1;
    Int32 actual4 = actual + 2;
}


@if (Model == null || Model.Count() == 0) {
    <div class="text-center">
        <h1 class="display-4">Brak Danych</h1>
    </div>
} else {
    <h1 class="text-center">Obrazki</h1>

    foreach (ShowModelImage item in Model) {
        @await Html.PartialAsync("../Image/SingleImage.cshtml", model: item);
        <br />
    }
}

<div class="row justify-content-center">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a id="prev" asp-action="index" asp-route-page="@actual2" class="page-link">
                    Poprzedni
                </a>
            </li>
            @if (actual1 >= 0) {
                <li class="page-item">
                    <a id="prev2" asp-action="index" asp-route-page="@actual1" class="page-link">
                        @(actual1+1)
                    </a>
                </li>
            } @if (actual2 >= 0) {
                <li class="page-item">
                    <a id="prev1" asp-action="index" asp-route-page="@actual2" class="page-link">
                        @(actual2+1)
                    </a>
                </li>
            }
            <li class="page-item disabled">
                <a id="actual" class="page-link" href="#">
                    @(actual+1)
                </a>
            </li>
            @if (actual3 <= count) {
                <li class="page-item">
                    <a id="next1" asp-action="index" asp-route-page="@actual3" class="page-link">
                        @(actual3+1)
                    </a>
                </li>
            } @if (actual4 <= count) {
                <li class="page-item">
                    <a id="next2" asp-action="index" asp-route-page="@actual4" class="page-link">
                        @(actual4+1)
                    </a>
                </li>
            }
            <li class="page-item">
                <a id="next" asp-action="index" asp-route-page="@actual3" class="page-link">
                    Następny
                </a>
            </li>
        </ul>
    </nav>
</div>