@using ASP.net_Aplication.Models.Comment;
@model ASP.net_Aplication.Models.Image.SchowModelImage

@{
    ViewData["Title"] = "View";
}

@await Html.PartialAsync("SingleImage.cshtml")

<div class="col-9" style="margin: 0 auto;">
    @if (User.Identity.IsAuthenticated) {
        @await Html.PartialAsync("../Comment/Add.cshtml", model: new AddModelComment() { ImageID = Model.ImageID })
    } else { <a asp-controller="Comment" asp-action="Add" asp-route-id="@Model.ImageID" asp-route-returnUrl="@Context.Request.Path">Napisz komentarz</a>}
</div>

@foreach (ShowModelComment item in Model.Comments) {
    <div class="card col-9" style="margin: 15px auto;">
        <div class="row col-auto justify-content-between">
            <div><h6>@item.Author.FirstName @item.Author.LastName</h6></div>
            <div><small>@item.CreateDate.ToString()</small></div>
        </div>
        <div>@item.CommentText</div>
    </div>
}