@model Aplikacja.Models.Image
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>ID</h1>
@Model.ImageID
<h1>Autor</h1>
Login: @Model.Autor.Login
<br />
Email: @Model.Autor.Email
<h1>Komentarze</h1>
<table>
    <tr>
        <td>Osoba pisząca</td>
        <td>Komentarz</td>
    </tr>
    @foreach (var comm in Model.Comments)
    {
        <tr>
            <td>@comm.Autor.Login</td>
            <td>@comm.CommentText</td>
        </tr>
    }
</table>
<h1>Oceny</h1>
<table>
    <tr>
        <td>Osoba pisząca</td>
        <td>ocena</td>
    </tr>
    @foreach (var rate in Model.Rates)
    {
        <tr>
            <td>@rate.Autor.Login</td>
            <td>@rate.UserRate</td>
        </tr>
    }
</table>