@model ICollection<ModelAccount>

<h1>Działa bardzo dobże</h1>

<table border="1">
    <tr>
        <td>ID</td>
        <td>Login</td>
        <td>Imie</td>
        <td>Nazwisko</td>
        <td>Login</td>
        <td>Email</td>
        <td>Data urodzenia</td>
        <td>Usuń</td>
        <td>Edytuj</td>
    </tr>
    @foreach (var user in Model) {
        <tr>
            <td>@user.Id </td>
            <td>@user.UserName </td>
            <td>@user.FirstName </td>
            <td>@user.LastName </td>
            <td>@user.Email</td>
            <td>@user.BirthDate</td>
            @*<td><a class="btn btn-primary" asp-controller="Login" asp-action="Remove" asp-route-id="@user.UserID">Remove</a></td>*@
            @*<td><a class="btn btn-primary" asp-controller="Login" asp-action="Update" asp-route-id="@user.UserID">Update</a></td>*@
        </tr>
    }
</table>