@model ICollection<Aplikacja.Models.User>
@*

    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    int page = (int)ViewData["page"];

    int next = page + 1;
    int prev = page - 1;
}


<h1>Panel logowania</h1>
<h3>Zaloguj się</h3>
<h1>@ViewBag.pageNumber</h1>

<h3><a class="btn btn-primary" asp-controller="Login" asp-action="Add">Zarejestruj się</a></h3>

<h1>Lista urzytkowników</h1>

<table border="1">
    <tr>
        <td>ID</td>
        <td>Login</td>
        <td>Haslo</td>
        <td>Email</td>
        <td>Data urodzenia</td>
        <td>Usuń</td>
        <td>Edytuj</td>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.UserID </td>
            <td>@user.Login </td>
            <td>@user.Password</td>
            <td>@user.Email</td>
            <td>@user.BirthDate</td>
            <td><a class="btn btn-primary" asp-controller="Login" asp-action="Remove" asp-route-id="@user.UserID">Remove</a></td>
            <td><a class="btn btn-primary" asp-controller="Login" asp-action="Update" asp-route-id="@user.UserID">Update</a></td>
        </tr>
    }
</table>

<a class="btn btn-primary" asp-controller="Login" asp-action="index" asp-route-page="@prev">Prev page</a>
<a class="btn btn-primary" asp-controller="Login" asp-action="index" asp-route-page="@next">Next page</a>